* {
  font-family: var(--font);
}

/* index.html */
.navbar {
  background-color: #fff;
}

.judul {
  font-family: var(--font);
  font-weight: var(--h1-fontweight);
  font-size: var(--h1-font-size);
  color: var(--bs-darkBlue) !important;
}

.logo {
  height: 50px;
  width: 50px;
}

.input-group {
  height: 40px;
  width: 450px;
}

.iconSearch {
  height: 20px;
  width: 20px;
}
.form-control {
  background-color: var(--bs-smokeGray);
}
.icon {
  height: 38px;
  width: 38px;
}

.iconCart {
  margin-right: 30px;
}

.btn {
  background-color: var(--bs-blue) !important;
  color: var(--bs-gray) !important;
}
/* carousel */
.imgCarousel {
  height: 95vh;
  background-size: cover;
}

/* products */
.product {
  padding-top: 4rem;
}

h3 {
  font-size: 32px;
  font-weight: var(--h1-fontweight);
  color: var(--bs-darkBlue);
}

.card {
  box-shadow: 10px 9px 13px rgba(0, 0, 0, 0.25);
}

.card-body {
  color: var(--bs-darkBlue);
}

.more {
  text-decoration: none;
  font-size: var(--normal-fs);
  color: var(--bs-darkBlue) !important;
  font-weight: 600;
}

.prev {
  height: 30px;
  width: 30px;
}

/* category */
.category {
  padding-top: 4rem;
}

.category .col-lg-3 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.category-name {
  font-size: var(--normal-fs);
  color: var(--bs-darkBlue);
}

/*login.html css*/

.fw-normal {
  color: var(--bs-darkBlue) !important;
}

.form-label {
  color: var(--bs-darkBlue) !important;
}

.d-flex {
  color: var(--bs-darkBlue) !important;
}

/* img login image */
.img-login-regis {
  border-radius: 0 0 7.5rem 0;
}

/* .btnitems {
  color: var(--bs-gray) !important;
  background-color: var(--bs-darkBlue) !important;
  width: 125px;
} */

.register {
  color: var(--bs-darkBlue) !important;
}

.form-label-login-regis {
  font-weight: 550;
}

/* .form-input-login-regis {
  width: 30vw;
} */

/*end login.html css*/

/* success checkout.html css */
.illustration_success {
  width: 430px;
  /* height: 420px; */
  /* margin: 70px 0 0 0; */
}

.btn2 {
  width: 150px;
}

.illustrationText {
  color: var(--bs-darkBlue) !important;
}

/* breadcrumb */
.containerBreadcrumb {
  margin-top: 100px;
  margin-left: 75px;
  /* background-color: var(--bs-gray); */
}

.textbc {
  color: var(--bs-darkBlue) !important;
}

/* side content */

.limak {
  width: 70px;
  background-color: var(--bs-gray) !important;
}

.dividers {
  border: 3px solid;
  background-color: var(--bs-darkBlue) !important;
  margin-left: 7px;
  margin-right: 7px;
  width: 50px;
  height: 0;
  margin-top: 7px;
}

.dividers2 {
  border: 0 solid;
  background-color: var(--bs-darkBlue) !important;
  width: 75%;
  height: 5px;
  margin-top: 13px;
  margin-left: 30px;
}

.btn3 {
  width: 110px;
  margin-left: 117px;
}

.text {
  color: var(--bs-darkBlue) !important;
}

.card-img-top {
  height: 180px;
}

/* detail product */

.img-detail {
  width: 350px;
  height: 470px;
}

.dividers3 {
  background-color: var(--bs-darkBlue) !important;
  width: 100%;
  height: 5px;
  margin-top: 5px;
}

.card2 {
  width: 250px;
  height: 260px;
}

.merah {
  background-color: red;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.hitam {
  background-color: black;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.kuning {
  background-color: yellow;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.hijau {
  background-color: green;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.tambah {
  width: 40px;
  height: 20px;
  background-color: var(--bs-gray);
}

.kurang {
  width: 40px;
  height: 20px;
  background-color: var(--bs-gray);
}

.himasi {
  background-color: var(--bs-gray);
}

.himasiImg {
  width: 50px;
  height: 40px;
}

.iconBasket {
  width: 30px;
  height: 20px;
}

.deskripsi {
  color: var(--bs-darkBlue);
}

.lorem {
  color: var(--bs-darkBlue);
}

/* responsice */
@media (max-width: 768px) {
  .cardFilter {
    display: none;
  }

  .img {
    width: 400px;
    height: auto;
  }

  .img-detail {
    width: 350px;
    height: 200px;
  }

  .filter {
    display: none;
  }

  .card {
    margin-top: 7px;
    margin-right: auto;
    margin-left: auto;
  }

  .cardMT {
    margin-top: 15px;
  }
  .containerBreadcrumb {
    margin-top: 80px;
    margin-left: 20px;
  }

  .pagination {
    margin-top: 7px;
  }

  .lorem {
    margin-top: 20px;
    font-size: 18px;

    color: var(--bs-darkBlue);
  }
}
