*{
    font-family: var(--font);
}

.navbar{
    background-color: #fff;
}

.judul{
    font-family: var(--font);
    font-weight: var(--h1-fontweight);
    font-size: var(--h1-font-size);
    color: var(--bs-darkBlue) !important;
}

.logo{
    height: 50px;
    width: 50px;
}

.input-group{
    height: 40px;
    width: 450px;
}

.iconSearch{
    height: 20px;
    width: 20px;
}

.form-control{
    background-color: var(--bs-smokeGray);
}

.btn{
    background-color: var(--bs-blue) !important;
}

.icon{
    height: 40px;
    width: 40px;
}

.iconCart{
    margin-right: 30px;
}

/* carousel */
.imgCarousel{
    width: 100%;
    height: 90vh;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)); */
}

/* products */
h3{
    font-size: 32px;
    font-weight: var(--h1-fontweight);
    color: var(--bs-darkBlue);
}

.card{
    box-shadow: 10px 9px 13px rgba(0, 0, 0, 0.25);
    border-radius: 16px !important;
}

.card-body{
    color: var(--bs-darkBlue);
    
}

.linkProduct{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--bs-darkBlue);
    font-weight: 600;
}

.linkProduct:hover{
    color: var(--bs-darkBlue);
}