@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* nav{
    height: 70px;
} */

.judul{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 28px;
    color: #243a73 !important;
}

.logo{
    height: 50px;
    width: 50px;
}

.input-group{
    height: 40px;
    width: 500px;
}

.iconSearch{
    height: 20px;
    width: 20px;
}

.form-control{
    background-color: #E3E3E3;
}

.btn{
    background-color: var(--bs-blue) !important;
}

.icon{
    height: 40px;
    width: 40px;
}

.iconCart{
    margin-right: 30px;
}